body{
    background-image: url(bodybackground1.webp);
}
h1{
    border: 10px solid black;
    background-color: #AAAAFF;
    font-size:80px;
    position:absolute;
    top: 10px;
    left:35%;
    width:300px;
    height:100px;
    text-align: center;
    border-radius: 20px;
    vertical-align: middle;
}
p{
    font-size:80px;
}

#lowerSpeed{
    border: 0px solid black;
    border-radius: 50px;
    width:80px;
    height:80px;
    font-size:80px;
    text-align: center;
    background-color: #84C1FF;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

#higherSpeed{
    border: 0px solid black;
    border-radius: 50px;
    width:80px;
    height:80px;
    font-size:80px;
    text-align: center;
    background-color: #84C1FF;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

canvas{
    border: 10px solid black;
    position:absolute;
    top: 200px;
    left:25%;
}

#gamemode{
    font-size:80px;
    /* border: 2px solid #000; */
    border-radius: 20px;
    box-shadow: 0px 0px 5px rgb(0, 0, 0);
    position:absolute;
    top: 200px;
    left:70%;
    text-align: center;
    width:800px;
    height:1000px;
    background-color: #AAAAFF;
}

#mode1{
    width:30px;
    height:30px;
}
#mode2{
    width:30px;
    height:30px;
}
#mode3{
    width:30px;
    height:30px;
}

#run{
    font-size:80px;
    position:absolute;
    border: 3px solid black;
    border-radius: 20px;
    top: 800px;
    left:31%;
    width:350px;
    height:110px;
    text-align: center;
    background-color: #AAAAFF;
}

#talkbox{
    height: 20px;
    color: brown;
    font-size: 26px;
    font-weight: bold;
}
